<div class="form-group">
  <input
  *ngIf="label != 'description' && label != 'about'"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{ type }}"
    class="form-control"
    [formControl]="ngControl.control"
    placeholder="{{
      ['title', 'project', 'assignedTo', 'priority', 'type'].includes(label)
        ? ''
        : label
    }}"
  />
  <textarea
    *ngIf="label == 'description' || label == 'about'"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    class="form-control"
    [formControl]="ngControl.control"
  ></textarea>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    {{ label | titlecase }} required.
  </div>
  <div *ngIf="label == 'title' && ngControl.control.errors?.pattern" class="invalid-feedback">
    {{ label | titlecase }} can not have numbers/symbols, can only have one space between letters, and can not start or end with a space.
  </div>
  <div *ngIf="label == 'description' && ngControl.control.errors?.pattern" class="invalid-feedback">
    {{ label | titlecase }} can only have one space between letters, and can not start or end with a space.
  </div>
  <div *ngIf="label == 'Username' && ngControl.control.errors?.pattern" class="invalid-feedback">
    {{ label | titlecase }} can only have letters.
  </div>
  <div *ngIf="['Password', 'New Password'].includes(label) && ngControl.control.errors?.pattern" class="invalid-feedback">
    {{ label | titlecase }} must contain at least one uppercase letter, one lowercase letter, and one number.
  </div>
  <div *ngIf="ngControl.control.errors?.email" class="invalid-feedback">
    {{ label | titlecase }} entered is not valid.
  </div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{ label | titlecase }} must be at least
    {{ ngControl.control.errors.minlength["requiredLength"] }} characters.
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{ label | titlecase }} must be at most
    {{ ngControl.control.errors.maxlength["requiredLength"] }} characters.
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    Passwords do not match
  </div>
</div>
