<div class="form-group">
  <input
  *ngIf="label != 'description' && label != 'about'"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{ type }}"
    class="form-control"
    [formControl]="ngControl.control"
    placeholder="{{
      ['title', 'project', 'assignedTo', 'priority', 'type'].includes(label)
        ? ''
        : ['Password', 'Confirm Password'].includes(label)
        ? '••••••'
        : label
    }}"
  />
  <textarea
    *ngIf="label == 'description' || label == 'about'"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    class="form-control"
    [formControl]="ngControl.control"
  ></textarea>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    Please enter a {{ label }}
  </div>
  <div *ngIf="ngControl.control.errors?.pattern" class="invalid-feedback">
    {{ label | titlecase }} can not have numbers/symbols, and can not start with a space.
  </div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{ label }} must be at least
    {{ ngControl.control.errors.minlength["requiredLength"] }} characters
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{ label }} must be at most
    {{ ngControl.control.errors.maxlength["requiredLength"] }} characters
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    Passwords do not match
  </div>
</div>
