<form *ngIf="!passwordResetSent" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && sendPasswordReset()" autocomplete="off">
    <h2 class="text-center text-light">Reset your password</h2>
    <hr />
    <app-text-input
      [formControl]="forgotPasswordForm.controls['email']"
      [label]="'Email Address'"
    ></app-text-input>
    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="form-group text-center">
      <button [disabled]='!forgotPasswordForm.valid' class="btn btn-success mr-2" type="submit">Send confirmation email</button>
      <button class="btn btn-outline-secondary mr-2" (click)="cancel()" type="button">
        Cancel
      </button>
    </div>
  </form>
  <h4 *ngIf="passwordResetSent" class="text-center text-light">If the email provided is associated with an account, a link to reset your password will be sent.</h4>