a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.ordering {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
}
a {
  text-decoration: none;
}
@media (max-width: 767px) {
  .table-responsive .dropdown-menu {
    position: static !important;
  }
}
@media (min-width: 768px) {
  .table-responsive {
    overflow: inherit;
  }
}
