<div>
  <div style="float: left">
    <label>Show</label>
    <select
      name="itemsPerPage"
      [(ngModel)]="userParams.pageSize"
      (change)="loadUsers()"
    >
      <option>5</option>
      <option>10</option>
      <option>25</option>
      <option>50</option>
    </select>
    entries
  </div>
  <input
    type="text"
    name="search"
    placeholder="Search"
    [(ngModel)]="userParams.searchMatch"
    (input)="loadUsers()"
    style="float: right"
  />
</div>

<div class="table-responsive margin-bottom-2x">
  <table class="table margin-bottom-none">
    <thead>
      <tr>
        <th>
          Username
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadUsers(true, 0)"
            btnRadio="username"
            [(ngModel)]="userParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="userParams.icons[0] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="userParams.icons[0] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="userParams.icons[0] == 2"></i>
          </button>
        </th>
        <th>
          Email Address
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadUsers(true, 1)"
            btnRadio="email"
            [(ngModel)]="userParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="userParams.icons[1] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="userParams.icons[1] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="userParams.icons[1] == 2"></i>
          </button>
        </th>
        <th>Active Roles</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username | titlecase }}</td>
        <td>{{ user.email | titlecase }}</td>
        <td>{{ user.roles }}</td>
        <td>
          <div class="user-action-wrapper">
            <button
              (click)="openRolesModal(user)"
              class="btn btn-info user-action-btn"
            >
              Edit Roles
            </button>
            <button
              (click)="openResetPasswordModal(user)"
              class="btn btn-info user-action-btn"
            >
              Reset Password
            </button>
            <button
              (click)="openResetEmailModal(user)"
              class="btn btn-info user-action-btn"
            >
              Reset Email
            </button>
            <button
              (click)="(user)"
              class="btn btn-info user-action-btn"
            >
              Reset Email
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="pagination">
  <span style="float: left">
    Showing
    {{
      pagination.totalItems > 0
        ? pagination.itemsPerPage * (pagination.currentPage - 1) + 1
        : pagination.itemsPerPage * (pagination.currentPage - 1)
    }}
    to
    {{
      pagination.itemsPerPage * pagination.currentPage > pagination.totalItems
        ? pagination.totalItems
        : pagination.itemsPerPage * pagination.currentPage
    }}
    of {{ pagination.totalItems }} entries
  </span>
  <div
    class="d-flex justify-content-center"
    *ngIf="pagination"
    style="float: right"
  >
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
