<div>
  <div>
    <button
      type="button"
      (click)="openUserModal()"
      class="btn btn-md btn-outline-primary mb-2"
      style="flex: left"
    >
      New User
    </button>
    <button
      type="button"
      (click)="deleteUsers()"
      *appHasRole="['Admin']"
      class="btn btn-md btn-danger mb-2"
      style="flex: right"
      [disabled]="userIdsToDelete.length == 0"
    >
      Delete
    </button>
  </div>
  <div style="float: left">
    <label>Show</label>
    <select
      name="itemsPerPage"
      [(ngModel)]="userParams.pageSize"
      (change)="loadUsers()"
    >
      <option>5</option>
      <option>10</option>
      <option>25</option>
      <option>50</option>
    </select>
    entries
  </div>
  <input
    type="text"
    name="search"
    placeholder="Search"
    [(ngModel)]="userParams.searchMatch"
    (input)="loadUsers()"
    style="float: right"
  />
</div>

<div *ngIf="users" class="table-responsive margin-bottom-2x">
  <table class="table margin-bottom-none">
    <thead *ngIf="users.length > 0">
      <tr>
        <th *appHasRole="['Admin']">
          <input
            type="checkbox"
            id="deleteCheck"
            (click)="toggleCheckAll($event)"
          />
        </th>
        <th>
          Username
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadUsers(true, 0)"
            btnRadio="username"
            [(ngModel)]="userParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="userParams.icons[0] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="userParams.icons[0] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="userParams.icons[0] == 2"></i>
          </button>
        </th>
        <th>
          Email Address
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadUsers(true, 1)"
            btnRadio="email"
            [(ngModel)]="userParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="userParams.icons[1] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="userParams.icons[1] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="userParams.icons[1] == 2"></i>
          </button>
        </th>
        <th>Email Confirmed?</th>
        <th>Active Roles</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="users.length > 0">
      <tr *ngFor="let user of users">
        <td *appHasRole="['Admin']">
          <input
            type="checkbox"
            id="deleteCheck"
            *ngIf="!user.roles.includes('Admin')"
            (change)="checked($event, user.id)"
            [checked]="checkAll && !user.roles.includes('Admin') ? true : null"
          />
        </td>
        <td>{{ user.username | titlecase }}</td>
        <td>{{ user.email | titlecase }}</td>
        <td *ngIf="user.emailConfirmed">Yes</td>
        <td *ngIf="!user.emailConfirmed">No</td>
        <td>{{ user.roles }}</td>
        <td>
          <div class="dropdown" dropdown>
            <btn class="btn btn-sm btn-info dropdown-toggle" dropdownToggle
              >Action</btn
            >
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <button
                (click)="openRolesModal(user)"
                class="btn btn-sm btn-info dropdown-item"
              >
                Edit Roles
              </button>
              <button
                (click)="openResetPasswordModal(user)"
                class="btn btn-sm btn-info dropdown-item"
              >
                Reset Password
              </button>
              <button
                (click)="openResetEmailModal(user)"
                class="btn btn-sm btn-info dropdown-item"
              >
                Reset Email
              </button>
              <button
                (click)="sendConfirmationEmail(user)"
                class="btn btn-sm btn-info dropdown-item"
              >
                Send Confirmation Email
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="users.length <= 0" style="text-align: center">
      <br />
      <h1>No users to show.</h1>
    </tbody>
  </table>
</div>
<div *ngIf="pagination">
  <span style="float: left">
    Showing
    {{
      pagination.totalItems > 0
        ? pagination.itemsPerPage * (pagination.currentPage - 1) + 1
        : pagination.itemsPerPage * (pagination.currentPage - 1)
    }}
    to
    {{
      pagination.itemsPerPage * pagination.currentPage > pagination.totalItems
        ? pagination.totalItems
        : pagination.itemsPerPage * pagination.currentPage
    }}
    of {{ pagination.totalItems }} entries
  </span>
  <div
    class="d-flex justify-content-center"
    *ngIf="pagination"
    style="float: right"
  >
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
