<div>
  <div style="float: left">
    <label>Show</label>
    <select
      name="itemsPerPage"
      [(ngModel)]="ticketParams.pageSize"
      (change)="loadTickets()"
    >
      <option>5</option>
      <option>10</option>
      <option>25</option>
      <option>50</option>
    </select>
    entries
  </div>
  <input
    type="text"
    name="search"
    placeholder="Search"
    [(ngModel)]="ticketParams.searchMatch"
    (input)="loadTickets()"
    style="float: right"
  />
</div>

<div class="table-responsive margin-bottom-2x">
  <table class="table margin-bottom-none">
    <thead>
      <tr>
        <th>
          Title
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadTickets(true, 0)"
            btnRadio="title"
            [(ngModel)]="ticketParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="ticketParams.icons[0] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="ticketParams.icons[0] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="ticketParams.icons[0] == 2"></i>
          </button>
        </th>
        <th style="width: 16%">
          Assigned Developer
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadTickets(true, 2)"
            btnRadio="assignedTo"
            [(ngModel)]="ticketParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="ticketParams.icons[2] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="ticketParams.icons[2] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="ticketParams.icons[2] == 2"></i>
          </button>
        </th>
        <th style="width: 16%">
          Priority
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadTickets(true, 3)"
            btnRadio="priority"
            [(ngModel)]="ticketParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="ticketParams.icons[3] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="ticketParams.icons[3] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="ticketParams.icons[3] == 2"></i>
          </button>
        </th>
        <th style="width: 16%">
          Status
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadTickets(true, 4)"
            btnRadio="state"
            [(ngModel)]="ticketParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="ticketParams.icons[4] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="ticketParams.icons[4] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="ticketParams.icons[4] == 2"></i>
          </button>
        </th>
        <th style="width: 16%">
          Type
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadTickets(true, 5)"
            btnRadio="type"
            [(ngModel)]="ticketParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="ticketParams.icons[5] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="ticketParams.icons[5] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="ticketParams.icons[5] == 2"></i>
          </button>
        </th>
        <th style="width: 16%">
          Created
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadTickets(true, 6)"
            btnRadio="created"
            [(ngModel)]="ticketParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="ticketParams.icons[6] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="ticketParams.icons[6] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="ticketParams.icons[6] == 2"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.assignedTo }}</td>
        <td>{{ ticket.priority }}</td>
        <td>{{ ticket.state }}</td>
        <td>{{ ticket.type }}</td>
        <td>{{ ticket.created | date: "short"}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="pagination">
  <span style="float: left">
    Showing
    {{
      pagination.totalItems > 0
        ? pagination.itemsPerPage * (pagination.currentPage - 1) + 1
        : pagination.itemsPerPage * (pagination.currentPage - 1)
    }}
    to
    {{
      pagination.itemsPerPage * pagination.currentPage > pagination.totalItems
        ? pagination.totalItems
        : pagination.itemsPerPage * pagination.currentPage
    }}
    of {{ pagination.totalItems }} entries
  </span>
  <div
    class="d-flex justify-content-center"
    *ngIf="pagination"
    style="float: right"
  >
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
