<div>
  <div style="float: left">
    <label>Show</label>
    <select
      name="itemsPerPage"
      [(ngModel)]="ticketParams.pageSize"
      (change)="loadTickets()"
    >
      <option>5</option>
      <option>10</option>
      <option>25</option>
      <option>50</option>
    </select>
    entries
  </div>
  <input
    type="text"
    name="search"
    placeholder="Search"
    [(ngModel)]="ticketParams.searchMatch"
    (input)="loadTickets()"
    style="float: right"
  />
</div>

<div class="table-responsive margin-bottom-2x">
  <table class="table margin-bottom-none">
    <thead *ngIf="tickets && tickets.length > 0">
      <tr>
        <th *ngFor="let header of headers; index as i">
          {{ header }}
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadTickets(true, i)"
            btnRadio="{{ header.toLowerCase() }}"
            [(ngModel)]="ticketParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="ticketParams.icons[i] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="ticketParams.icons[i] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="ticketParams.icons[i] == 2"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="tickets && tickets.length > 0">
      <tr *ngFor="let ticket of tickets">
        <td>
          <a href="#" routerLink="/tickets/{{ ticket.id }}">{{
            ticket.title | titlecase
          }}</a>
        </td>
        <td>
          <a
            *ngIf="ticket.assignee"
            style="color: #777"
            href="#"
            routerLink="/users/{{ ticket.assignee }}"
            >{{ ticket.assignee | titlecase }}</a
          >
          <div *ngIf="!ticket.assignee">Unassigned</div>
        </td>
        <td
          [ngClass]="{
            'text-success': ticket.priority === 'Low',
            'text-warning': ticket.priority === 'Medium',
            'text-danger': ticket.priority === 'High'
          }"
        >
          {{ ticket.priority }}
        </td>
        <td class="text-primary">{{ ticket.state }}</td>
        <td>{{ ticket.type }}</td>
        <td>{{ ticket.created | date: "short" }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="tickets && tickets.length <= 0" style="text-align: center">
      <br />
      <h4>No tickets to show.</h4>
    </tbody>
  </table>
</div>
<div *ngIf="pagination">
  <span style="float: left">
    Showing
    {{
      pagination.totalItems > 0
        ? pagination.itemsPerPage * (pagination.currentPage - 1) + 1
        : pagination.itemsPerPage * (pagination.currentPage - 1)
    }}
    to
    {{
      pagination.itemsPerPage * pagination.currentPage > pagination.totalItems
        ? pagination.totalItems
        : pagination.itemsPerPage * pagination.currentPage
    }}
    of {{ pagination.totalItems }} entries
  </span>
  <div
    class="d-flex justify-content-center"
    *ngIf="pagination"
    style="float: right"
  >
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
