<div class="container mt-3">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row" *ngIf="roles">
                <div class="col-12 col-sm-auto mb-3" *ngIf="roles">
                  <app-user-photo style="font-size: 70px;" [roles]="roles"></app-user-photo>
                </div>
                <div
                  class="
                    col
                    d-flex
                    flex-column flex-sm-row
                    justify-content-between
                    mb-3
                  "
                >
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap" *ngIf="user">
                      {{ user.userName | titlecase }}
                    </h4>
                    <div class="text-muted" *ngIf="user">
                      <small>Last seen {{user.lastActive | date }}</small>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <div *ngFor="let role of roles">
                      <span class="badge badge-secondary">{{role}}</span>
                    </div>
                    <div class="text-muted">
                      <small *ngIf="user">Joined {{user.created | date }}</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label class="font-weight-bold">Full Name</label>
                              <p *ngIf="user">{{user.fullName}}</p>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label class="font-weight-bold">Email Address</label>
                              <p *ngIf="user">{{user.email}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label class="font-weight-bold">About</label>
                              <p *ngIf="user">{{user.about}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
