<div class="container mt-5">
  <div *ngIf="!registerMode && !user" style="text-align: center">
    <h1>Track some bugs!</h1>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="registerMode && !user" class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
  <div
    *ngIf="user"
    class="row flex-lg-nowrap"
    style="padding: 0 15px 0 15px; max-width: 100%"
  >
    <div class="col" style="max-width: 33%">
      <app-priority-chart></app-priority-chart>
    </div>
    <div class="col" style="max-width: 33%">
      <app-status-chart></app-status-chart>
    </div>
    <div class="col" style="max-width: 34%">
      <app-type-chart></app-type-chart>
    </div>
  </div>
  <div
    *ngIf="user"
    class="row flex-lg-nowrap"
    style="padding: 0 15px 0 15px; max-width: 100%"
  >
    <div class="col">
      <app-type-chart></app-type-chart>
    </div>
  </div>
</div>
