<div class="container mt-3">
  <div *ngIf="!loggedInUser && !registerMode && !forgotPasswordMode">
    <section class="vh-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col card-wrapper">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col d-flex align-items-center">
                <div class="card-body p-4 text-black">
                  <app-login></app-login>
                  <div class="mb-2 pb-lg-2">
                    <a href="#" (click)="forgotPasswordToggle()">Forgot password?</a>
                  </div>
                  <div class="mb-2 pb-lg-2">
                    Don't have an account?
                    <a href="#" (click)="registerToggle()">Register here</a>
                  </div>
                  <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                  </div>

                  <a class="btn btn-light btn-lg btn-block" href="#!">
                    Sign in as Demo User
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="!loggedInUser && registerMode" class="row justify-content-center">
    <div class="col-5">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
  <div *ngIf="!loggedInUser && forgotPasswordMode" class="row justify-content-center">
    <div class="col-5">
      <app-forgot-password
        (cancelForgotPassword)="cancelForgotPasswordMode($event)"
      ></app-forgot-password>
    </div>
  </div>
  <div *ngIf="loggedInUser">
    <app-chart-collection></app-chart-collection>
  </div>
</div>
