<div class="container mt-3">
  <h2>All Projects</h2>
  <div>
    <button
      type="button"
      *appHasRole="['Admin']"
      (click)="openProjectModal()"
      class="btn btn-md btn-outline-primary mb-2"
      style="flex: left"
    >
      New Project
    </button>
    <button
      type="button"
      *appHasRole="['Admin']"
      (click)="deleteProjects()"
      class="btn btn-md btn-danger mb-2"
      style="flex: right"
      [disabled]="projectIdsToDelete.length == 0"
    >
      Delete
    </button>
  </div>
  <div *ngIf="projects.length > 0">
    <div style="float: left">
      <label>Show</label>
      <select
        name="itemsPerPage"
        [(ngModel)]="projectParams.pageSize"
        (change)="loadProjects()"
      >
        <option>5</option>
        <option>10</option>
        <option>25</option>
        <option>50</option>
      </select>
      entries
    </div>
    <input
      type="text"
      name="search"
      placeholder="Search"
      [(ngModel)]="projectParams.searchMatch"
      (input)="loadProjects()"
      style="float: right"
    />
  </div>
  <div class="table-responsive margin-bottom-2x">
    <h3 *ngIf="projects.length == 0">No projects to show.</h3>
    <table *ngIf="projects.length > 0" class="table margin-bottom-none">
      <thead>
        <tr>
          <th *appHasRole="['Admin']">
            <input
              type="checkbox"
              id="deleteCheck"
              (click)="toggleCheckAll($event)"
            />
          </th>
          <th style="width: 30%">
            Title
            <button
              type="button"
              class="ordering"
              name="orderBy"
              (click)="loadProjects(true, 0)"
              btnRadio="title"
              [(ngModel)]="projectParams.orderBy"
            >
              <i class="fas fa-sort" *ngIf="projectParams.icons[0] == 0"></i>
              <i class="fas fa-sort-up" *ngIf="projectParams.icons[0] == 1"></i>
              <i
                class="fas fa-sort-down"
                *ngIf="projectParams.icons[0] == 2"
              ></i>
            </button>
          </th>
          <th style="width: 45%">
            Description
            <button
              type="button"
              class="ordering"
              name="orderBy"
              (click)="loadProjects(true, 1)"
              btnRadio="description"
              [(ngModel)]="projectParams.orderBy"
            >
              <i class="fas fa-sort" *ngIf="projectParams.icons[1] == 0"></i>
              <i class="fas fa-sort-up" *ngIf="projectParams.icons[1] == 1"></i>
              <i
                class="fas fa-sort-down"
                *ngIf="projectParams.icons[1] == 2"
              ></i>
            </button>
          </th>
          <th style="width: 25%">
            Created
            <button
              type="button"
              class="ordering"
              name="orderBy"
              (click)="loadProjects(true, 2)"
              btnRadio="created"
              [(ngModel)]="projectParams.orderBy"
            >
              <i class="fas fa-sort" *ngIf="projectParams.icons[2] == 0"></i>
              <i class="fas fa-sort-up" *ngIf="projectParams.icons[2] == 1"></i>
              <i
                class="fas fa-sort-down"
                *ngIf="projectParams.icons[2] == 2"
              ></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td *appHasRole="['Admin']">
            <input
              type="checkbox"
              id="deleteCheck"
              (change)="changed($event, project.id)"
              [checked]="checkAll ? true : null"
            />
          </td>
          <td>
            <a href="#" routerLink="/projects/{{ project.id }}">{{
              project.title
            }}</a>
          </td>
          <td>{{ project.description }}</td>
          <td>{{ project.created | date: "medium" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="pagination && projects.length > 0">
    <span style="float: left">
      Showing
      {{
        pagination.totalItems > 0
          ? pagination.itemsPerPage * (pagination.currentPage - 1) + 1
          : pagination.itemsPerPage * (pagination.currentPage - 1)
      }}
      to
      {{
        pagination.itemsPerPage * pagination.currentPage > pagination.totalItems
          ? pagination.totalItems
          : pagination.itemsPerPage * pagination.currentPage
      }}
      of {{ pagination.totalItems }} entries
    </span>
    <div
      class="d-flex justify-content-center"
      *ngIf="pagination"
      style="float: right"
    >
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>
