<button
  type="button"
  routerLink="/ticket/create"
  class="btn btn-md btn-outline-secondary mb-2"
>
  New Ticket
</button>

<div class="table-responsive margin-bottom-2x">
  <table class="table table-striped margin-bottom-none">
    <thead>
      <tr>
        <th>Title</th>
        <th>Project Name</th>
        <th>Developer Assigned</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Type</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets$ | async">
        <td><a href="#" routerLink='/tickets/{{ticket.id}}'>{{ticket.title}}</a></td>
        <td>{{ticket.project}}</td>
        <td>{{ticket.assignedTo}}</td>
        <td class="text-warning">{{ticket.priority}}</td>
        <td class="text-primary">{{ticket.state}}</td>
        <td>{{ticket.type}}</td>
        <td>{{ticket.created}}</td>
      </tr>
    </tbody>
  </table>
</div>
