<ng-container *ngIf="accountService.currentUser$ | async">
  <div class="page-wrapper" [ngClass]="{ toggled: show }">
    <button class="btn btn-lg btn-dark show-sidebar" (click)="toggleShow()" [hidden]="show">
      <i class="fas fa-bars"></i>
    </button>

    <nav id="sidebar" class="sidebar-wrapper bg-dark">
      <div class="sidebar-content">
        <div class="sidebar-menu">
          <ul>
            <li style="padding-top: 70px; padding-left: 235px">
              <div id="close-sidebar" (click)="toggleShow()">
                <i class="fas fa-times" style="color: white"></i>
              </div>
            </li>
            <li>
              <a routerLink="/">
                <i class="fa fa-tachometer-alt"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li
              class="sidebar-dropdown"
              (click)="toggleTicketDropdown()"
              [ngClass]="{ active: showTicketDropdown == true }"
            >
              <div class="submenu-title">
                <i class="fa fa-shopping-cart"></i>
                <span>Tickets</span>
              </div>
              <div class="sidebar-submenu" *ngIf="showTicketDropdown">
                <ul>
                  <li>
                    <a routerLink="/tickets">All Tickets</a>
                  </li>
                  <li>
                    <a routerLink="/member/tickets">My Tickets</a>
                  </li>
                </ul>
              </div>
            </li>
            <li
              class="sidebar-dropdown"
              (click)="toggleProjectDropdown()"
              [ngClass]="{ active: showProjectDropdown == true }"
            >
              <div class="submenu-title">
                <i class="far fa-gem"></i>
                <span>Projects</span>
              </div>
              <div class="sidebar-submenu" *ngIf="showProjectDropdown">
                <ul>
                  <li>
                    <a routerLink="/projects">All Projects</a>
                  </li>
                  <li>
                    <a routerLink="/member/projects">My Projects</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a routerLink="/admin">
                <i class="fa fa-book"></i>
                <span>Admin</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- page-wrapper -->
</ng-container>
