<div class="row flex-lg-nowrap">
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form
                    [formGroup]="createTicketForm"
                    (ngSubmit)="createTicketForm.valid && createTicket()"
                    class="form"
                    novalidate=""
                    autocomplete="off"
                  >
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <h4>Create a new ticket</h4>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label class="font-weight-bold">Title</label>
                              <app-text-input
                                [formControl]="
                                  createTicketForm.controls['title']
                                "
                                [label]="'title'"
                              ></app-text-input>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label class="font-weight-bold"
                                >Description</label
                              >
                              <app-text-input
                                [formControl]="
                                  createTicketForm.controls['description']
                                "
                                [label]="'description'"
                              ></app-text-input>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label class="font-weight-bold">Project</label>
                              <input
                                [(ngModel)]="projectsSearchMatch"
                                [ngModelOptions]="{ standalone: true }"
                                name="project"
                                id="project"
                                class="form-control"
                                list="projectList"
                                (input)="
                                  resetProjectListSize(); filterProjects()
                                "
                              />
                              <div
                                id="projectList"
                                *ngIf="!hideProjects"
                                style="
                                  max-height: 200px;
                                  overflow: scroll;
                                  border: thin solid;
                                "
                              >
                                <div
                                  class="dropdown-item"
                                  *ngFor="let project of displayProjects"
                                  (click)="updateProject(project)"
                                  style="cursor: pointer"
                                >
                                  {{ project }}
                                </div>
                                <div
                                  class="dropdown-item"
                                  [hidden]="disableLoadMoreProjects"
                                >
                                  <button
                                    class="btn btn-sm btn-light"
                                    (click)="loadMoreProjects()"
                                  >
                                    Load More Projects
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col mb-3">
                            <div class="form-group">
                              <label class="font-weight-bold">Assignee</label>

                              <input
                                [(ngModel)]="usersSearchMatch"
                                [ngModelOptions]="{ standalone: true }"
                                name="assignee"
                                id="assignee"
                                [disabled]="disableUsers"
                                list="userList"
                                type="search"
                                class="form-control"
                                placeholder="Search"
                                aria-label="Search"
                                aria-describedby="search-addon"
                                (input)="resetListSize(); filterUsernames()"
                              />
                              <div
                                id="userList"
                                style="
                                  max-height: 200px;
                                  overflow: scroll;
                                  border: thin solid;
                                "
                                *ngIf="!hideUsers"
                              >
                                <div
                                  class="dropdown-item"
                                  *ngFor="let username of displayUsernames"
                                  (click)="
                                    updateDeveloper(username)
                                  "
                                  style="cursor: pointer"
                                >
                                  {{ username }}
                                </div>
                                <div
                                  class="dropdown-item"
                                  [hidden]="disableLoadMoreUsers"
                                >
                                  <button class="btn btn-sm btn-light"
                                  (click)="loadMoreUsers()">
                                    Load More Users
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label class="font-weight-bold">Priority</label>
                              <select
                                [formControl]="
                                  createTicketForm.controls['priority']
                                "
                                name="priority"
                                id="priority"
                                class="form-control"
                              >
                                <option>Low</option>
                                <option>Medium</option>
                                <option>High</option>
                              </select>
                            </div>
                          </div>
                          <div class="col mb-3">
                            <div class="form-group">
                              <label class="font-weight-bold">Type</label>
                              <select
                                [formControl]="
                                  createTicketForm.controls['type']
                                "
                                name="type"
                                id="type"
                                class="form-control"
                              >
                                <option>Bug</option>
                                <option>Feature Request</option>
                                <option>Issue</option>
                                <option>Requirement</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button
                              type="button"
                              class="btn btn-default"
                              (click)="bsModalRef.hide()"
                            >
                              Cancel
                            </button>
                            <button
                              [disabled]="
                                !createTicketForm.valid || disableUsers
                              "
                              type="submit"
                              class="btn btn-default"
                            >
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
