<div>
  <button
    type="button"
    (click)="openRolesModal()"
    *appHasRole="['Admin']"
    class="btn btn-md btn-outline-primary mb-2"
    style="flex: left"
  >
    Assign User
  </button>
  <button
    type="button"
    (click)="deleteUsers()"
    *appHasRole="['Admin']"
    class="btn btn-md btn-danger mb-2"
    [disabled]="usernamesToDelete.length == 0"
    style="flex: right"
  >
    Delete
  </button>
</div>
<div>
  <div style="float: left">
    <label>Show</label>
    <select
      name="itemsPerPage"
      [(ngModel)]="userParams.pageSize"
      (change)="loadUsers()"
    >
      <option>5</option>
      <option>10</option>
      <option>25</option>
      <option>50</option>
    </select>
    entries
  </div>
  <input
    type="text"
    name="search"
    placeholder="Search"
    [(ngModel)]="userParams.searchMatch"
    (input)="loadUsers()"
    style="float: right"
  />
</div>

<div class="table-responsive margin-bottom-2x">
  <table class="table margin-bottom-none">
    <thead>
      <tr>
        <th *appHasRole="['Admin']">
          <input
            type="checkbox"
            id="deleteCheck"
            (click)="toggleCheckAll($event)"
          />
        </th>
        <th style="width: 50%">
          Username
          <button
            type="button"
            class="ordering"
            name="orderBy"
            (click)="loadUsers(true, 0)"
            btnRadio="username"
            [(ngModel)]="userParams.orderBy"
          >
            <i class="fas fa-sort" *ngIf="userParams.icons[0] == 0"></i>
            <i class="fas fa-sort-up" *ngIf="userParams.icons[0] == 1"></i>
            <i class="fas fa-sort-down" *ngIf="userParams.icons[0] == 2"></i>
          </button>
        </th>
        <th style="width: 50%">Active Roles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td *appHasRole="['Admin']">
          <input
            type="checkbox"
            id="deleteCheck"
            (change)="changed($event, user.username)"
            [checked]="checkAll ? true : null"
          />
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.roles }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="pagination">
  <span style="float: left">
    Showing
    {{
      pagination.totalItems > 0
        ? pagination.itemsPerPage * (pagination.currentPage - 1) + 1
        : pagination.itemsPerPage * (pagination.currentPage - 1)
    }}
    to
    {{
      pagination.itemsPerPage * pagination.currentPage > pagination.totalItems
        ? pagination.totalItems
        : pagination.itemsPerPage * pagination.currentPage
    }}
    of {{ pagination.totalItems }} entries
  </span>
  <div
    class="d-flex justify-content-center"
    *ngIf="pagination"
    style="float: right"
  >
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
